@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;600&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif KR", ui-serif, Georgia, serif;
}

body {
  font-family: var(--font-sans);
  background-color: #fcfbf9; /* warm off-white */
  color: #2d2a26;
}
